@charset "UTF-8";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;500;600;700&family=Monoton&display=swap");

:root {
  --purple: #8700c5;
  --light: #d3d3d3;
  --gray: #413b42;
  --dark: #0c0011;
}

body {
  font-family: "Glory";
  color: var(--light);
  background: var(--dark);
  background: linear-gradient(
    320deg,
    rgb(12, 0, 17) 68%,
    rgb(67, 0, 99) 87%,
    rgb(12, 0, 17) 95%
  );
}
#App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 410px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  margin-bottom: 1rem;
  color: #e7e7e7;
  text-shadow: 1px 1px 10px var(--light), 1px 1px 5px var(--purple);
}
.monoton-font {
  font-family: "Monoton";
}
#logo-text,
.logo-text {
  font-family: "Monoton";
  text-shadow: 1px 5px 20px var(--purple), 3px 3px 5px #fff;
  font-size: 2rem;
  text-align: left;
  transition: all 0.3s ease;
}
#logo-text:hover {
  filter: brightness(1.2);
}

.background-opacity-dark {
  background-color: #0c001144;
  box-shadow: 0 0 64px rgba(211, 211, 211, 0.3);
  color: var(--light);
  border-radius: 0.8rem;
}
.background-opacity-gray {
  background-color: rgba(65, 59, 66, 0.35);
  box-shadow: 1px 0px 3px rgba(211, 211, 211, 0.3);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}
a:hover {
  color: var(--gray);
}

#welcome-links a:hover {
  background-color: rgba(29, 0, 36, 0);
  box-shadow: 0 0 4rem rgba(211, 211, 211, 0.6);
  color: #fff;
}
#genre-names-links a div:hover {
  color: var(--purple);
}

/*------ NAVBAR ------*/
.navbar-dark .navbar-nav a.navlink:hover {
  filter: brightness(1.2);
  color: var(--purple);
}

/* -------- CARDS --------- */
.card-hover {
  transition: all 0.4 ease;
  border: none;
  border-radius: 0.8rem;
}
.card-hover:hover {
  transform: scale(1.05);
  filter: brightness(1.25);
  z-index: 10;
  border: none;
  color: #333;
}

@media screen and (min-width: 576px) {
  #App {
    padding-bottom: 260px;
  }
}
