@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;500;600;700&family=Monoton&display=swap");

body {
  font-family: "Glory";
}
#root {
  background: url('https://images.unsplash.com/photo-1502679726485-931beda67f88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&w=1700&q=100');
  // background: url('https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3057&q=100');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.logo-text {
  font-family: "Monoton";
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

a:hover {
  color: tomato;
}